{% load static %}

<!-- Container-fluid starts-->
<div class="container-fluid general-widget">
  <div class="row"> 
    <div class="col-xl-6 proorders-xl-1">
      <div class="card">
        <div class="card-body selling-card">
          <div class="row">
            <div class="col-sm-4">
              <div class="sale-card">
                <div class="sale-date">
                  <h4>Total Sale</h4><a href="/order_history"><span class="txt-primary f-w-700">(See all sales)</span></a>
                </div><span class="f-w-700 f-14 pb-4">Jan 1,2024 - Jun 30,2022</span>
                <div class="sale-data">
                  <ul> 
                    <li>
                      <h4>$654.85K</h4>
                      <div class="sale-value">
                        <svg>
                          <use href="{% static 'assets/svg/icon-sprite.svg' %}#drop-menu"> </use>
                        </svg>
                        <div class="sales-value"><span class="txt-danger">95% </span><span>6 month before </span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="latest-chart" id="latestSales-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 proorders-xl-2">
      <div class="card"> 
        <div class="card-header pb-0"> 
          <div class="header-top"> 
            <h4>Summary </h4>
            <div class="dropdown icon-dropdown setting-menu">
              <button class="btn dropdown-toggle" id="userdropdown32" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg> 
                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#setting"> </use>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown32"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly </a></div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 summary-card"><span class="f-w-700 f-14">Jan 1,2024 - Jun 30,2022</span>
          <div class="summary-progressbar">
            <ul> 
              <li>
                <div>
                  <h4>$654.85K</h4><span>Summary</span>
                </div>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar progress-border-primary">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                  </div>
                </div>
              </li>
              <li>
                <div> 
                  <h4>$34.5K</h4><span>Orders </span>
                </div>
                <div>
                  <div class="progress sm-progress-bar progress-border-secondary">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                  </div>
                </div>
              </li>
              <li>
                <div>
                  <h4>$3.86K</h4><span>Avg. Order Value </span>
                </div>
                <div>
                  <div class="progress-showcase"> 
                    <div class="progress sm-progress-bar progress-border-secondary">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div>
                  <h4>$3.86K</h4><span>Avg. Order Value</span>
                </div>
                <div>
                  <div class="progress sm-progress-bar progress-border-secondary">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 proorders-xl-3 box-col-12">
      <div class="card">
        <div class="card-header custom-border-bottom">
          <div class="header-top">
            <h4>Customer Growth</h4>
            <div class="dropdown icon-dropdown setting-menu">
              <button class="btn dropdown-toggle" id="userdropdown25" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg>
                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#setting"> </use>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown25"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xxl-8">
              <div class="map-world">
                <div class="map">
                  <div class="jvector-map-height" id="world-map2"></div>
                </div>
              </div>
            </div>
            <div class="col-xxl-4 d-xxl-block d-none">
              <ul class="customer-growth">
                <li>
                  <div class="customer-details">
                    <div><img src="{% static 'assets/images/dashboard-2/flags/1.png' %}" alt="flag"></div>
                    <div>
                      <h6 class="f-w-600 f-14">United States</h6><span class="f-w-600">70%</span>
                    </div>
                  </div>
                  <div class="progress progress-striped-primary b-r-2">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div class="customer-details"> 
                    <div><img src="{% static 'assets/images/dashboard-2/flags/2.png' %}" alt="flag"></div>
                    <div>
                      <h6 class="f-w-600 f-14">Sweden</h6><span class="f-w-600">50%</span>
                    </div>
                  </div>
                  <div class="progress progress-striped-primary b-r-2">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div class="customer-details">
                    <div><img src="{% static 'assets/images/dashboard-2/flags/3.png' %}" alt="flag"></div>
                    <div>
                      <h6 class="f-w-600 f-14">Australia</h6><span class="f-w-600">20%</span>
                    </div>
                  </div>
                  <div class="progress progress-striped-primary b-r-2">
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div class="customer-details"> 
                    <div><img src="{% static 'assets/images/dashboard-2/flags/4.png' %}" alt="flag"></div>
                    <div>
                      <h6 class="f-w-600 f-14">France</h6><span class="f-w-600">80%</span>
                    </div>
                  </div>
                  <div class="progress progress-striped-primary b-r-2">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 proorders-xl-5 box-col-12">
      <div class="card">
        <div class="card-header">
          <div class="header-top"> 
            <h4>Latest Offer Product </h4>
            <div class="dropdown icon-dropdown setting-menu">
              <button class="btn dropdown-toggle" id="userdropdown30" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg>
                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#setting"> </use>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown30"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
            </div>
          </div>
        </div>
        <div class="card-body product-page-main pt-0">
          <div class="row"> 
            <div class="col-md-6">
              <div class="product-slider owl-carousel owl-theme product-slides" id="sync5">
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/10.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/11.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/12.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/13.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/10.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/11.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/12.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/13.png' %}" alt="product"></div>
              </div>
              <div class="owl-carousel owl-theme product-data" id="sync6">
                <div class="item"> <img src="{% static 'assets/images/dashboard-2/product/10.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/11.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/12.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/13.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/10.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/11.png' %}" alt="product"></div>
                <div class="item"><img src="{% static 'assets/images/dashboard-2/product/12.png' %}" alt="product"></div>
                <div class="item"> <img src="{% static 'assets/images/dashboard-2/product/13.png' %}" alt="product"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product-details"><a href="/product_page">
                  <h4>Apple iphone 13 Mini (512 GB) Green </h4></a>
                <div class="product-Price">
                  <h2 class="txt-primary">$89,999 </h2>
                  <div>
                    <del>$1,19,999</del>
                  </div>
                </div>
                <div class="d-flex gap-2 variants-title"> <span>Color :</span><span>Green</span></div>
                <div class="color-variants">
                  <div class="form-check radio radio-primary">
                    <input class="form-check-input" id="radio22" type="radio" name="radio1" value="option1" checked="">
                    <label class="form-check-label" for="radio22"></label>
                  </div>
                  <div class="form-check radio radio-secondary">
                    <input class="form-check-input" id="radio23" type="radio" name="radio1" value="option2">
                    <label class="form-check-label" for="radio23"></label>
                  </div>
                  <div class="form-check radio radio-warning"> 
                    <input class="form-check-input" id="radio24" type="radio" name="radio1" value="option3">
                    <label class="form-check-label" for="radio24"></label>
                  </div>
                  <div class="form-check radio radio-info">
                    <input class="form-check-input" id="radio25" type="radio" name="radio1" value="option4">
                    <label class="form-check-label" for="radio25"></label>
                  </div>
                  <div class="form-check radio radio-danger">
                    <input class="form-check-input" id="radio27" type="radio" name="radio1" value="option6">
                    <label class="form-check-label" for="radio27"></label>
                  </div>
                </div>
                <div class="d-flex gap-2 variants-title"><span>Size :</span><span>512GB </span></div>
                <div class="variants-button">
                  <button class="btn btn-outline-primary btn-md" type="button" title="btn btn-pill btn-outline-primary btn-md">512GB</button>
                  <button class="btn btn-outline-lights btn-md txt-dark" type="button" title="btn btn-pill btn-outline-light btn-md">256GB</button>
                </div>
                <div class="discount-box">
                  <h6>Special Discount</h6>
                </div>
                <h3 class="text-truncate">Deal of the  Day From</h3>
                <div class="countdown" id="clock-arrival" data-hours="1" data-minutes="2" data-seconds="3">
                  <ul>
                    <li> <span class="days time"> </span><span class="title">Days</span></li>
                    <li><span class="hours time"></span><span class="title">Hours</span></li>
                    <li class="px-3"><span class="minutes time"></span><span class="title">Min</span></li>
                    <li class="px-3"><span class="seconds time"></span><span class="title">Sec</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 proorders-xl-6 col-lg-6">
      <div class="card">
        <div class="card-header pb-0">
          <div class="header-top">
            <h4>Weekly User Activity</h4>
            <div class="dropdown icon-dropdown setting-menu">
              <button class="btn dropdown-toggle" id="userdropdown60" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg>
                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#setting"> </use>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown60"><a class="dropdown-item" href="#">Weekly </a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="user-activity" id="UserActivity"> </div>
          <div class="user-activity">
            <ul>
              <li>
                <div class="applications-menu">
                  <div class="rounded-btn-primary"></div>
                  <h3>Online Applications</h3>
                </div>
                <h4>55%</h4>
              </li>
              <li>
                <div class="applications-menu">
                  <div class="rounded-btn-secondary"> </div>
                  <h3>Offline Applications</h3>
                </div>
                <h4>45%</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 proorders-xl-7 col-lg-6">
      <div class="card">
        <div class="card-header">
          <div class="header-top">
            <h4>Recent Statistics</h4>
            <div class="dropdown icon-dropdown setting-menu"> 
              <button class="btn dropdown-toggle" id="userdropdown82" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg>
                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#setting"> </use>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown82"><a class="dropdown-item" href="#">Weekly </a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
            </div>
          </div>
        </div>
        <div class="card-body pb-0 pt-0">
          <div class="recent-statistics">
            <ul>
              <li>
                <div class="arrow-up">
                  <svg>
                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#Arrow-Up"></use>
                  </svg>
                </div><span>$5.850</span>
              </li>
              <li>
                <div class="arrow-down">
                  <svg>
                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#Arrow-Down"></use>
                  </svg>
                </div><span>$1.750</span>
              </li>
            </ul>
          </div>
          <div id="orderoverview"></div>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 proorders-xl-4 col-xl-6">
      <div class="card">
        <div class="card-header custom-border-bottom">
          <div class="header-top">
            <h4>Sales Stats</h4>
            <div class="dropdown icon-dropdown setting-menu">
              <button class="btn dropdown-toggle" id="userdropdown62" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg>
                  <use href="{% static 'assets/svg/icon-sprite.svg' %}#setting"> </use>
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown62"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div id="salesStatsRadialCharts"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->