{% load static %}

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector World Map</h4><span>Below Map is displaying the world map.</span>
        </div>
        <div class="card-body">
          <div class="jvector-map-height" id="world-map"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector Usa Map</h4><span>Below Map is displaying the usa map.</span>
        </div>
        <div class="card-body">
          <div class="jvector-map-height" id="usa"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector Canada Map</h4><span>Below Map is displaying the canada map.</span>
        </div>
        <div class="card-body"> 
          <div class="jvector-map-height" id="canada"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector india Map</h4><span>Below Map is displaying the india map.</span>
        </div>
        <div class="card-body">
          <div class="jvector-map-height" id="india"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector Asia Map</h4><span>Below Map is displaying the asia map.</span>
        </div>
        <div class="card-body">
          <div class="jvector-map-height" id="asia"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6"> 
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector Uk Map</h4><span>Below Map is displaying the uk map.</span>
        </div>
        <div class="card-body">
          <div class="jvector-map-height" id="uk"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector Chicago Map</h4><span>Below Map is displaying the chicago map.</span>
        </div>
        <div class="card-body">
          <div class="jvector-map-height" id="chicago"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Vector Australia Map</h4><span>Below Map is displaying the australia map.</span>
        </div>
        <div class="card-body">
          <div class="jvector-map-height" id="australia"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->