{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
{% endblock %}

{% block content %}


<div id="calendly-embed" style="min-width:320px;height:700px;"></div>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>

<script>
Calendly.initInlineWidget({
url: 'https://calendly.com/prajwal-jumde-aminfoweb',
parentElement: document.getElementById('calendly-embed')
});
</script>


{% endblock %}

{% block scriptcontent %}
{% endblock %}