{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-md" id="filterList">
    <form method="GET" action="" id="filterForm" class="d-flex flex-column">
        <label for="selectedContactList" class="form-label">Select Contact list</label>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary me-2">Filter</button>
            <select class="form-select" aria-label=" " name="selected_contact_list" id="selectedContactList">
                {% for camp in all_contact_list_names %}
                <option value="{{camp.id}}">{{camp.list_name}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <div class="mt-2">
        {% if contact_list.is_active %}
        <button type="button" class="btn btn-secondary float-end" disabled>Active</button>
        {% else %}
        <button type="button" id="markListActive" class="btn btn-info float-end">Make Active</button>
        {% endif %}
    </div>
     <!-- New Upload Contact List Button -->
     <button type="button" id="uploadContactList" class="btn btn-primary float-end me-2" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload Contact List</button>
</div>


<!-- Bootstrap Modal for Uploading CSV -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Contact List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="csvFile" class="form-label">Upload CSV file</label>
                        <input type="file" class="form-control" id="csvFile" name="csvFile" accept=".csv" required>
                    </div>
                    <div id="uploadErrors" class="text-danger"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitUpload">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">

    <table id="contactTable" class="table table-inverse table-striped dataTable" style="margin-left: 0px;">
        <thead>
            <tr>
                <th class="">
                    <button class="btn btn-pill btn-primary btn-air-primary" id="deleteSelected" type="button">
                        <i class="icofont icofont-ui-delete"></i>
                    </button>
                </th>
                {% if contact_list %}
                    {% for key in contact_list.0.keys %}
                        <th class="sorting_asc">{{ key }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for contact in contact_list %}
            <tr>
                <td class="sorting_1">
                    <!-- Assign class 'contact-checkbox' to the actual checkbox input -->
                    <input class="form-switch contact-checkbox" data-contact-id="{{ contact.contact_id }}" type="checkbox">
                </td>
                {% for value in contact.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include jQuery and DataTables JS and CSS files from CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<!-- Script block -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).ready(function() {
        ///
        function showToast(type, message) {
        Swal.fire({
                    title: 'Alert',
                    text: message, // Dynamic message from Django
                    icon: type,
                    confirmButtonText: 'OK'
                } 
            ).then(() => { location.reload(); });
        }

        /// confirm delete
        function showConfirm( ) {
        Swal.fire({
                    text: 'Are you sure?', // Dynamic message from Django
                    icon: type,
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                } 
            ).then((result) => { if (result.isConfirmed) { console.log('confirmed')} });
        }


        // MARK as active api 
        $("#markListActive").on('click', function() {
            Swal.fire({
                text: 'Are you sure you want to mark this contact list as active?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, mark as active'
            }).then((result) => {
                if (result.isConfirmed) {
                    let contactListId = "{{ contact_list.id }}";  // Get the current contact list id dynamically
                    let campaignId = "{{ campaign_id }}";  // Get the current campaign id dynamically

                    // Make an AJAX POST request to mark the contact list as active
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'contact_list' campaign_id=campaign_id %}",
                        data: JSON.stringify({
                            'campaign_id': campaignId,
                            'contact_list_id': contactListId
                        }),
                        contentType: 'application/json',
                        success: function(response) {
                            Swal.fire('Success', response.message, 'success').then(() => {
                                location.reload();  // Reload the page to reflect changes
                            });
                        },
                        error: function(xhr) {
                            Swal.fire('Error', xhr.responseJSON.message, 'error');
                        }
                    });
                }
            });
        });


        // upload new contact list
        $('#submitUpload').on('click', function() {
            let formData = new FormData($('#uploadForm')[0]);

            $.ajax({
                url: "{% url 'upload_contact_list' campaign_id=campaign_id %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.status === 'success') {
                        Swal.fire('Success', response.message, 'success').then(() => {
                            location.reload();
                        });
                    } else {
                        $('#uploadErrors').text(response.message);
                    }
                },
                error: function(xhr) {
                    $('#uploadErrors').text('An error occurred while uploading the file.');
                }
            });
        });


        // Initialize DataTables
        new DataTable('#contactTable', {
            paging: true,
            responsive: true,
            scroller: {
                loadingIndicator: true
            },
            searching: true,
            ordering: true
        });

        /// Handling contact deletion
        let selectedContacts = [];

        // When the user checks/unchecks the checkbox
        $(document).on('change', '.contact-checkbox', function() {
            console.log('Checkbox clicked!');
            const contactId = $(this).data('contact-id');

            if ($(this).is(':checked')) {
                // Add contactId to the array if checked
                if (!selectedContacts.includes(contactId)) {
                    selectedContacts.push(contactId);
                }
            } else {
                // Remove contactId from the array if unchecked
                selectedContacts = selectedContacts.filter(id => id !== contactId);
            }
            console.log('Selected Contacts:', selectedContacts);
        });


        // When the delete button is clicked

            $('#deleteSelected').on('click', function() {
                if (selectedContacts.length === 0) {
                    Swal.fire({
                        icon: 'warning',
                        text: 'No contacts selected for deletion.',
                    });
                    return;
                }

                // Confirm deletion using SweetAlert2
                        Swal.fire({
                            title: 'Are you sure?',
                            text: 'You won\'t be able to revert this!',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, delete them!',
                            cancelButtonText: 'Cancel'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Proceed with the deletion via AJAX
                                $.ajax({
                                    url: "{% url 'delete_contacts' campaign_id %}", // Django URL
                                    method: "POST",
                                    data: JSON.stringify({ contact_ids: selectedContacts, "campaign_id": {{ campaign_id }} }),
                                    contentType: "application/json",
                                    headers: {
                                        'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
                                    },
                                    success: function(response) {
                                        // Show success message using SweetAlert2
                                        Swal.fire({
                                            icon: 'success',
                                            text: response.message
                                        });
                                        showToast("success", response.message);
                                    },
                                    error: function(xhr, status, error) {
                                        // Show error message using SweetAlert2
                                        Swal.fire({
                                            icon: 'error',
                                            text: 'Failed to delete contacts: ' + error
                                        });
                                        showToast("error", "Failed to delete contact! " + error);
                                    }
                                });
                            }
                        });
                    });

                });
</script>
{% endblock %}
